enable-pre-post-scripts=true
unsafe-perm=true
approve-builds[]=@nestjs/core
approve-builds[]=@prisma/client
approve-builds[]=@prisma/engines
approve-builds[]=bcrypt
approve-builds[]=esbuild
approve-builds[]=prisma
